body{
    font-family: sans-serif;
}
fieldset{
    justify-content: center;
    text-align: center;
    display: grid;
    background-color: #a1c318;
    border: none;
}
h1{
    border: 1px solid white;

}
label{
    padding-right: 20px;
}
p{
    padding-right: 20px;
}
select{
    height: 30px;
}
input{
    margin-bottom: 10px;
}
